.RippleIcon {
    -webkit-animation: ripple 2s linear infinite; /* Safari 4.0 - 8.0 */
    animation: ripple 2s linear infinite;
    border-radius: 50%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes ripple {
    0%   {box-shadow:0px 0px 0px 0px #f0f0f0;}
    25%  {box-shadow:0px 0px 0px 20px #f1f1f1;}
    50%  {box-shadow:0px 0px 0px 40px #f3f3f3;}
    75%  {box-shadow:0px 0px 0px 60px #f5f5f5;}
    100% {box-shadow:0px 0px 0px 80px #f9f9f9;}
}

/* Standard syntax
 */
@keyframes ripple {
  0%   {box-shadow:0px 0px 0px 0px #f0f0f0;}
  25%  {box-shadow:0px 0px 0px 20px #f1f1f1;}
  50%  {box-shadow:0px 0px 0px 40px #f3f3f3;}
  75%  {box-shadow:0px 0px 0px 60px #f5f5f5;}
  100% {box-shadow:0px 0px 0px 80px #f9f9f9;}
}
